.header {
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4 ;
  padding: 1rem;
  width: 100%;
  
  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:  #F4F4F4 ;
    width:100%

 
  }

  &__logo {
    // margin-right: 30px;
    background-color:  #F4F4F4 ;

  }

  &__logo-name {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #ff9900;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
    background-color:  #F4F4F4 ;
    text-shadow: 0 0 10px orange, 0 0 20px purple; 
    font-family: “Creepster”, cursive; 


    &:hover {
      color: #1F2E47 ;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    background-color:  #F4F4F4 ;
    align-items: center;

    

  }

  &__link {
    color: orange;
    text-decoration: none;
    // padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #F4F4F4 ;
    


    &:hover {
      color:#1F2E47 ;
    }
  }

  
}
