.header {
  background-color: black;
  color: orange;
  text-align: center;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  &__title {
    font-family: “Creepster”, cursive;
    text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px purple;
    animation: bounce 1s;
  }
  &__subtitle {
    color: white;
    margin: 10px 0;
  }
  &__links {
    display: flex;
    justify-content: center;
    gap: 15px; // Adds space between links
  }
  &__link {
    color: orange;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid orange;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
      color: black;
      background-color: orange;
    }
  }
}
// Animation for bouncing effect
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
